	<!DOCTYPE html>
<html>
	<style>
		.button {
		  background-color: #4676c4;
		  border: none;
		  color: white;
		  padding: 15px 32px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 16px;
		  margin: 4px 2px;
		  cursor: pointer;
		  transition-duration: 0.4s;
		}
		
		.button:hover {
		  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
		}
			</style>

<head>
	<title>Get Employee Information</title>
</head>
<center>
	<font color="black" size="5" style="font-family: Arial, Helvetica, sans-serif;">

		<h1 style="color: rgb(0, 128, 255)">Employee Information</h1>

		<body bgcolor="white">
			<script>
				console.error("You made a mistake");
			</script>
			<form action="/fetchdata" autocomplete="on" method="POST">

				<h2 style="color: rgb(0, 0, 0)">Enter Employee ID</h2>

		  		Employee ID:<br> <input style="height:25px;font-size:14pt;" type="number" name="emp_id" autofocus size="40"><br><br>


		  		<button class="button" type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">FETCH INFO</button><br><br>

		  		<button class="button" type="submit" formaction="http://44.212.59.33:80/" style="background: rgb(0, 145, 255)	; height: 100px; width: 200px; color: black; size: 5; font:oblique;" method="GET">GO TO UPDATE DATABASE PAGE</button>

			</form>

		</body>
	</font>
</center>
</html>
